# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/

# Database files
*.sqlite3

# Logs
*.log

# IDE files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Credentials files
.env
